{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'review/css/delete_review.css' %}"
    />
    <title>내 리뷰</title>
  </head>
  <body>
    <div class="page-container">
      <!-- 최상단 -->
      <header>
        <div class="head">
          <a href="{% url 'hospital_list' %}">
            <img
              src="{% static 'hospital/images/back_icon.svg' %}"
              alt="이전으로"
              id="back-button"
            />
          </a>
        </div>
        <h2>내 리뷰</h2>
      </header>

      <!-- 삭제 확인 폼 -->
      <form method="post" action="{% url 'review:delete_review' review.id %}">
        {% csrf_token %}
        <div id="alert" class="alert">
          <div class="alert-content">
            <p>
              이 게시물을 삭제합니다. <br /><strong>계속하시겠습니까?</strong>
            </p>
            <div class="alert-buttons">
              <button type="submit" class="yes-button">예</button>
              <a href="{% url 'review:my_reviews' %}" class="no-button"
                >아니오</a
              >
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
