@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Pretendard-Regular";
  box-sizing: border-box;
}

/* 전체 배경 및 중앙 정렬 */
html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
}

/* 전체 페이지 고정 너비 박스 */
.page-container {
  width: 402px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}

/* 검색창 */
header {
  width: 402px;
  height: 68px;
  border-bottom: 1px solid rgba(167, 139, 250, 0.5);
  position: fixed; /* 상단 고정 */
  background-color: white;
}

.search-container {
  display: flex;
  flex-direction: row;
  padding: 16px 0 0 20px;
}

.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 15px;
}

.head a {
  padding-right: 15px;
}

.search-box {
  width: 279px;
  height: 40px;
  border-radius: 50px;
  background: #f6f4fb;
  border: none;
  font-size: 12px;
  font-weight: 400;
  padding: 12px 20px;
}

.search-button {
  background: none;
  border: none;
}

.result-count,
.no-result {
  padding: 100px 0 21px 27px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid rgba(167, 139, 250, 0.3);
}

#bold-count {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.review-list {
  padding: 68px 22px 0 22px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
}

label {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sort-form {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sort-select {
  border-radius: 20px;
  border: 0.5px solid rgba(167, 139, 250, 0.5);
  color: #5e548e;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 5px;
  padding: 5px 0;
}

.review-card {
  background-color: #f6f4fb;
  border-radius: 15px;
  width: 100%;
  height: auto;
  padding: 20px 30px 13px 30px;
}

.contents {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 7px;
}

.review-card:last-child {
  margin-bottom: 20px; /* 원하는 여백값으로 수정 */
}

.no-review {
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
