# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
db.sqlite3
.env

# VSCode
.vscode/

# macOS
.DS_Store

# Migrations
**/migrations/
!*/migrations/__init__.py

# Static & Media
staticfiles/
media/
