@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Pretendard-Regular";
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  top: 0;
  flex: 0 0 auto;
  width: 100%;
  height: 153px;
}

.head {
  display: flex;
  flex-direction: row;
}

h2 {
  margin: 0;
  padding: 1.5625rem 0px 0px 1.5625rem;
  font-size: 1.25rem;
}

#my-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 22px;
  right: 28px;
  color: #5e548e;
  gap: 0px;
}

#my-review p {
  padding: 0px;
  margin: 0px;
  font-size: 7px;
}
.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 125px 27px 25px 28px;
  gap: 8px;
}

.filter-btn {
  width: 113px;
  height: 28px;
  border-style: none;
  border-radius: 15px;
  text-align: center;
  background-color: #f6f4fb;
}

.filter-btn.active {
  background: #a78bfa; /* 선택 시 배경색 */
  color: #fff; /* 선택 시 글씨색 */
}

.hospital-list {
  flex: 1 1 auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.hospital-sample-image {
  position: relative;
}

.hospital-info {
  position: absolute;
  top: 158px;
  left: 20px;
  right: 20px;
}

#hospital-name {
  font-size: 20px;
}

.hospital-address {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  padding-top: 9px;
}

#address-text {
  width: 90%;
  padding: 2px 0px 2px 10px;
}

.floating-button {
  position: fixed;
  bottom: 110px;
  right: 31px;
  z-index: 10;
}

.bottom-nav {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 100%;
  height: 86px;
  bottom: 0;
  box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.bottom-nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: black;
  text-decoration: none;
  margin: 0px;
}

#bottom-icon-qna {
  margin-bottom: 9px;
}

#bottom-icon-hospital {
  margin-bottom: 7px;
}

#bottom-icon-home {
  padding-bottom: 7px;
}

#bottom-icon-reserve {
  padding-bottom: 9px;
}

#bottom-icon-mypage {
  padding-bottom: 6px;
}

.bottom-nav span {
  margin-bottom: 12px;
}
