@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard-Regular";
}

/* 전체 배경 및 중앙 정렬 */
html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  background-color: #fafafa;
}

/* 전체 페이지 고정 너비 박스 */
.page-container {
  width: 402px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  overflow-y: auto; 
}

.page-container::-webkit-scrollbar{
    display: none;
}

/* 고정된 헤더 */
header {
    height: 60px;
    padding: 20px 21px 0 25px;
    display: flex
;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 402px;
    z-index: 10;
    background-color: #ffff;

}
.back_img{
    width: 24px;
height: 24px;
flex-shrink: 0;
}

#header_icon{
    width: 25px;
height: 25px;
flex-shrink: 0;
aspect-ratio: 1/1;
}
.post-header-actions{
    display: flex;
    gap: 20px;
}

.delete-icon{
    background-color: #FFF;
    border: none;
}

.delete-comment-btn{
    background-color: #FFF;
    border: none;
}

.trash_img{
    width: 20px;
    margin-right: 10px;
}
.back{
    display: flex;        
    gap: 20px;           
    align-items: center; 
    text-decoration: none;
    
}
.back-link{
    color: black;
text-align: center;
font-family: "Pretendard Variable";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.post-meta{
    display: flex;
    align-items: center;            
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    gap: 15px;    
}

.profile_img{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

.profile_text{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 16px;
}

.time_text{
    color: black;
font-family: "Pretendard Variable";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
flex-direction: column;
align-items: flex-end;
margin-left: 95px;
}

.post-content{
    padding: 20px;
    padding-top: 0px;
}

.content-title{
color: black;
    font-family: "Pretendard Variable";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom:10px;
}

.content{
color: black;
/* basic */
font-family: "Pretendard Variable";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

#scrap-button{
display: flex;
flex-direction: column;
justify-content: center;    
align-items: center;
gap: 5px;
border: 1.3px solid #a78bfa;
border-radius: 30px;
flex-shrink: 0;
flex-direction: row;
background-color: white;
}

#button_share{
    display: flex;
flex-direction: column;
justify-content: center;    
align-items: center;
gap: 5px;
border: 1.3px solid #a78bfa;
border-radius: 30px;
flex-shrink: 0;
flex-direction: row;
background-color: white;
}
.button_text{
    color:#5E548E;
font-family: "Pretendard Variable";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin:10px;
margin-right: 20px;
    margin-left: 00px;

}

.img{
    width: 20px;
height: 20px;
aspect-ratio: 1/1;  
margin:10px;
margin-right: 0px;
    margin-left: 20px;

}

.post-actions{
    display: flex;
    justify-content: center;    
    align-items: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    gap: 15px;
}

.comment-list{
    display: flex;
    gap:10px;
    flex-direction: column;
    align-items: center;

}

.commnet-text{
    color:#000;
font-family: "Pretendard Variable";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 20px;
margin-bottom: 10px;
}

.comment-meta{
    margin: 10px;
        display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between
}
.comment_sub{
    display: flex;
    gap:10px;
    align-items: center;
}
.comment-item{
    display: flex;
    width: 329px;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #a78bfa;
    border-radius: 15px;
    margin-bottom: 10px;
}

.comment-title{
        display: flex;
    gap: 5px;
    align-items: center;
    text-decoration: none;
}

.comment-time{
    color: #5E548E;
font-family: "Pretendard Variable";
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-right: 10px;
}

.comment-content{
    color:  #000;
font-family: "Pretendard Variable";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding:10px;
margin: 5px;
margin-left: 30px;

}
.none{
    color:  #5E548E;
font-family: "Pretendard Variable";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.declatation_comment_img{
    width: 13px;
height: 13px;
aspect-ratio: 1/1;
}
.comment-item-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comment-item-1{
    display: flex;
    width: 329px;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #a78bfa;
    border-radius: 15px;
    background-color:  #f6f4fb;
}

.no-comments{
    margin-left: 20px;
text-align: center;
font-family: "Pretendard Variable";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 200%; /* 32px */
}

.comment_content{
    width: 360px;
    margin-left: 10px;
height: 48px;
border: none;
 resize: none;
background-color: #f6f4fb;
}

textarea::placeholder {
 color:  #5E548E;
 padding: 15px;
font-family: "Pretendard Variable";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.comment_send {
  display: flex;
  align-items: center;
   max-width: 500px;       /* 너비 제한 */
  margin: 0 auto;
  margin:10px;
border-radius: 15px;
background-color: #f6f4fb;         /* 가운데 정렬 */
}

.submit_btn{
    background-color: #f6f4fb;
    border:none;
    border-radius: 15px;
}

.warning, .warning2{
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 15px;
    flex-direction: column;
    display: none;
      z-index: 10;
}

.warning_textbox{
    padding: 50px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.warning_text_1,.warning_text_2{
font-family: "Pretendard Variable";
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
}

.warning_text_2{
font-weight: 700;
}
.selection_box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.yes,.no, .yes2, .no2{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    color: white;
width: 141px;
height: 32px;
padding: 5.25px 40.5px;
justify-content: center;
align-items: center;
gap: 7.5px;
border: none;
border-radius: 15px;
}

.yes, .yes2 {
    background-color: #E35D5F;
}
.no, .no2{
    background-color:black ;
}
.copy{
position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
border-radius: 13.5px;
background: rgba(0, 0, 0, 0.40);
display: none;}
.copy_text{
    padding: 15px;
    color:  #FFF;
font-size: 13.5px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.background_gray {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9;
  display: none;
}

#reply-to-info{
    margin: 10px;
    margin-left: 30px;
    display: none; 
    padding: 5px; 
    background-color: #f6f4fb; 
    border-radius: 5px; 
    margin-bottom: 5px;
}

#cancel-reply-mode{
    background-color: #f6f4fb;
    border:none;
    border-radius: 5px;
}

#cancel-btn{
    margin: 5px;
}