@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard-Regular";
}

/* 전체 배경 및 중앙 정렬 */
html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
}

/* 전체 페이지 고정 너비 박스 */
.wrapper {
  width: 402px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}

/* 고정된 헤더 */
header {
    height: 60px;
    padding: 20px 21px 0 25px;
    display: flex;
    align-items: center;
    top: 0;
    width: 402px;
    z-index: 10;
      background-color: #ffff;

}

a{
    text-decoration: none;
}

.back_img{
    width: 24px;
height: 24px;
flex-shrink: 0;
}

.header_title{
    color: black;
text-align: center;
font-family: "Pretendard Variable";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

#my_comments{
    color: #A78BFA;
    text-decoration: none;
font-family: "Pretendard Variable";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 10px;
margin-bottom: 10px;
border-bottom: 2px solid #A788fa;
}

    #my_post{
    color: gray;
    text-decoration: none;
font-family: "Pretendard Variable";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 10px;
margin-bottom: 10px;
}


.tab-menu{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.my_answers_title{
    color: #000;
font-family: "Pretendard Variable";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 30px;
border-bottom: 1.5px solid #A788fa;
}

.post-list{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    margin: 20px;
}
.post-title{
            color: #5E548E;
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.time-ago{
            color: #5E548E;
    font-family: "Pretendard Variable";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.post_header{
         margin: 10px;
    display: flex
;
    align-items: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    gap: 150px; 
}

.post-preview{
    font-family: "Pretendard Variable";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 20px;
}

.chat_img{
    width: 16px;
}

.comment-count{
        display: flex
;
    align-items: center;
    width: 100%;
    margin: 20px;
    gap:10px
}

.post-item{
    display: flex
;
    width: 329px;
    height: 148px;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #A788fa;
    border-radius: 15px;

}

.no-posts{
        color: #5E548E;
    text-align: center;
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 200%;
}   