{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>홈 - 전문의 회원</title>
    <!-- css 연결 -->
    <link rel="stylesheet" href="{% static 'users/css/home_doctor.css' %}" />
  </head>
  <body>
    <div class="page-container">
      <!-- 상단 로고 및 알림 -->
      <header class="header">
        <div class="logo">
          <img
            src="{% static '/hospital/images/took_logo.svg' %}"
            alt="로고 이미지"
            class="logo-img"
            height="55"
          />
        </div>
        <a href="" class="notification-icon-link">
          <img src="{% static 'users/images/notify_icon.svg' %}" alt="알림" />
        </a>
      </header>

      <main>
        <!-- 방금 등록된 질문 -->
        <section class="answered-questions-section">
          <h2>방금 등록된 질문</h2>
          <ul class="question-list">
            {% for post in recently_registered_questions %}
            <li class="question-item">
              <a href="{% url 'posts:post_detail' post.id %}">
                <span class="title">{{ post.title }}</span>
                <div class="comment-item">
                  <img
                    src="{% static 'users/images/comment_icon.svg' %}"
                    alt="댓글 아이콘"
                  />
                  <span class="comment-count">{{ post.comment_count }}</span>
                </div>
              </a>
            </li>
            {% empty %}
            <li class="question-item">최근 등록된 질문이 없습니다.</li>
            {% endfor %}
          </ul>
        </section>

        <!-- 전문의 답변을 기다리는 질문 -->
        <section class="unanswered-questions-section">
          <h2>
            <span class="color-text">전문의 답변</span>을 기다리고 있는 질문
          </h2>
          <ul class="question-list">
            {% for post in unanswered_doctor_questions %}
            <li class="question-item">
              <a href="{% url 'posts:post_detail' post.id %}">
                <span class="title">{{ post.title }}</span>
                <div class="comment-item">
                  <img
                    src="{% static 'users/images/comment_icon.svg' %}"
                    alt="댓글 아이콘"
                  />
                  <span class="comment-count">{{ post.comment_count }}</span>
                </div>
              </a>
            </li>
            {% empty %}
            <li class="question-item">
              전문의 답변을 기다리는 질문이 없습니다.
            </li>
            {% endfor %}
          </ul>
        </section>

        <!-- 이번주 HOT 질문 -->
        <section class="hot-questions-section">
          <h2>이번주 <span class="color-text">HOT🔥</span> 질문</h2>
          <ul class="question-list">
            {% for post in hot_questions %}
            <li class="question-item">
              <a href="{% url 'posts:post_detail' post.id %}">
                <span class="title">{{ post.title }}</span>
                <div class="comment-item">
                  <img
                    src="{% static 'users/images/comment_icon.svg' %}"
                    alt="댓글 아이콘"
                  />
                  <span class="comment-count">{{ post.comment_count }}</span>
                </div>
              </a>
            </li>
            {% empty %}
            <li class="question-item">이번 주 HOT 질문이 없습니다.</li>
            {% endfor %}
          </ul>
        </section>
      </main>

      <!-- 하단 네비게이션 -->
      <footer class="bottom-nav">
        <a href="{% url 'posts:doctor_post_list' %}">
          <img
            src="{% static '/hospital/images/qna_unselected.svg' %}"
            alt="Q&A"
            id="bottom-icon-qna"
          />
          <span>Q&A</span>
        </a>
        <a href="">
          <img
            src="{% static '/hospital/images/home_selected.svg' %}"
            alt="홈"
            id="bottom-icon-home"
          />
          <span>홈</span>
        </a>
        <a href="{% url 'users:my_page' %}">
          <img
            src="{% static '/hospital/images/profile_unselected.svg' %}"
            alt="마이페이지"
            id="bottom-icon-mypage"
          />
          <span>마이페이지</span>
        </a>
      </footer>
    </div>
    <script
      type="module"
      src="{% static '/users/js/home_doctor.js' %}"
    ></script>
  </body>
</html>
