{% load static %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/reserve/css/recommended_doctors.css' %}"
    />
    <title>간편 상담 예약</title>
  </head>
  <body>
    <div class="page-container">
      <!-- 헤더 -->
      <header>
        <h2>간편 상담 예약</h2>
        <!-- 의사 검색 페이지 연결 -->
        <a href="{% url 'hospital_reserve_search' %}">
          <img
            src="{% static '/hospital/images/search_icon.svg' %}"
            alt="검색 아이콘"
            class="search-button"
          />
        </a>
      </header>
      <!-- 리스트 타이틀 -->
      <section id="list-title"><h2>추천 전문의</h2></section>
      <!-- 의사 리스트 띄우기-->
      <main class="doctor-list" id="doctor-list">
        {% for doctor in doctors %}
        <div class="doctor-info">
          <div class="doctor-ranking">{{ forloop.counter }}</div>
          <!-- 의사 이미지 -->
          <div class="doctor-image">
            <img
              src="{% static '/hospital/images/sample_doctor.svg' %}"
              alt="의사 샘플 이미지"
              class="search-button"
            />
          </div>
          <!-- 의사명, 병원명 -->
          <div class="doctor-details">
            <div class="doctor-name-row">
              <p class="doctor-name">
                {{ doctor.username }}
                <span class="doctor-hospital-name"
                  >{{ doctor.hospital.name }}</span
                >
              </p>
            </div>
            <!-- 전화 -->
            <div class="doctor-tel-row">
              <img
                src="{% static 'hospital/images/call_icon.svg' %}"
                alt="전화 아이콘"
              />
              <p class="phone-text">{{ doctor.hospital.tel }}</p>
              <a href="#" class="copy-phone">복사</a>
            </div>
            <!-- 답변 수 -->
            <div class="doctor-answer-row">
              <p class="answer-count">
                🔥 최근 일주일 간 답변 수 {{ doctor.recent_comment_count }}개
              </p>
            </div>
          </div>
        </div>
        {% empty %}
        <p>전문의가 없습니다.</p>
        {% endfor %}
      </main>
      <!-- 팝업창 display:none; 처리-->
      <div id="popup-message">
        <p>전화번호가 복사되었습니다.</p>
      </div>
      <!-- 하단 네비게이션 -->
      <footer class="bottom-nav">
        <div>
          <a href="{% url 'posts:post_list' %}">
            <img
              src="{% static '/hospital/images/qna_unselected.svg' %}"
              alt="Q&A"
              id="bottom-icon-qna"
            />
            <span>Q&A</span>
          </a>
        </div>
        <div>
          <a href="{% url 'hospital_list'%}">
            <img
              src="{% static '/hospital/images/hospital_unselected.svg' %}"
              alt="병원추천"
              id="bottom-icon-hospital"
            />
            <span>안심병원추천</span>
          </a>
        </div>
        <div>
          <a href="{% url 'users:user_home' %}">
            <img
              src="{% static '/hospital/images/home_unselected.svg' %}"
              alt="홈"
              id="bottom-icon-home"
            />
            <span>홈</span>
          </a>
        </div>
        <div>
          <a href="">
            <img
              src="{% static '/hospital/images/reserve_selected.svg' %}"
              alt="상담예약"
              id="bottom-icon-reserve"
            />
            <span>간편상담예약</span>
          </a>
        </div>
        <div>
          <a href="{% url 'users:my_page' %}">
            <img
              src="{% static '/hospital/images/profile_unselected.svg' %}"
              alt="마이페이지"
              id="bottom-icon-mypage"
            />
            <span>마이페이지</span>
          </a>
        </div>
      </footer>
    </div>
    <script src="{% static '/reserve/js/recommended_doctors.js' %}"></script>
  </body>
</html>
