{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="{% static 'posts/css/posts.css' %}">
</head>
<body>
    <h2>주제별 게시판</h2>

    <div class="header-buttons">
        <a href="{% url 'posts:post_search' %}">검색</a>
        <a href="{% url 'posts:my_questions' %}">내 질문</a>
        <a href="{% url 'users:logout' %}" class="logout-button">로그아웃</a>
    </div>

    <div>
        <a href="{% url 'posts:post_list' %}">전체</a>

        {% for category in categories %}
            <a href="{% url 'posts:post_list_by_category' category.slug %}">
                {{ category.name }}
            </a>
        {% endfor %}
    </div>

    <ul>
        {% for post in posts %}
            <li class="post-item">
                <a href="{% url 'posts:post_detail' post.id %}" class="post-title-link">
                    <h3 class="post-title">{{ post.title }}</h3>
                </a>
                <p class="post-content-preview">{{ post.content|truncatechars:100 }}</p> <!--본문 미리보기-->
            </li>
        {% endfor %}
    </ul>

</body>
</html>
