{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>홈 - 일반 회원</title>
    <link rel="stylesheet" href="{% static 'posts/css/posts_list.css' %}" />
  </head>
  <body>
    <div class="page-container">
      <header class="header">
        <div class="T_name">주제별 게시판</div>
        <div class="header-buttons">
          {# 검색창 또는 내 질문/답변으로 이동하는 코드 #}
          <a href="{% url 'posts:post_search' %}" class="icon_box">
            <img
              src="{% static 'posts/img/search_img.png' %}"
              class="icon_img"
            />
            <div class="icon_text">검색</div>
          </a>
          <a href="{% url 'posts:my_questions' %}" class="icon_box">
            <img src="{% static 'posts/img/list_img.png' %}" class="icon_img" />
            <div class="icon_text">내 질문/답변</div>
          </a>
        </div>
        
    </header>
        <nav>
          <a
            href="{% url 'posts:post_list' %}"
            class="select_menu {% if not current_category %}active{% endif %}"
          >
            <span class="text-padding">전체</span>
          </a>

          {% for category in categories %}
          <a
            href="{% url 'posts:post_list_by_category' category.slug %}"
            class="select_menu {% if current_category.slug == category.slug %}active{% endif %}"
          >
            <span class="text-padding">{{ category.name }}</span>
          </a>
          {% endfor %}
        </nav>

      <main>
        
        <ul>
          {% for post in posts %}
          <div class="post-item">
            <div class="post-content">
              <a
                href="{% url 'posts:post_detail' post.id %}"
                class="post-title-link"
              >
                {# 제목 클릭하면 해당 글 상세 페이지로 이동 #}
                <h3 class="post-title">{{ post.title }}</h3>
                {# 글 제목 표시 #}
                <p class="time">{{ post.content|truncatechars:100 }}</p>
                {# 본문 미리보기 #}
              </a>
              <p class="post-content-preview">
                {{ post.content|truncatechars:100 }}
              </p>
              {# 본문 미리보기 #}
              <div class="chatbox">
                <img
                  src="{% static 'posts/img/chat_img.png' %} "
                  class="chat_img"
                />
                <div class="chat_count">0</div>
              </div>
            </div>
          </div>

          {% endfor %} {% if current_category %} {# !! 어느 게시판에서 글쓰기 진입하는지에 따라 카테고리 기본값이 달라집니다. 버튼 구현 전이라 임시로 여기에 작성해뒀습니다. !! #}
          <a
            href="{% url 'posts:create_post' %}?from_category_slug={{ current_category.slug }}"
          >
            <div class="pen">
              <img src="{% static 'posts/img/pen_img.png' %}" class="pen-img" />
            </div>
          </a>
          {% else %} 
          {# 전체보기 상태에서 게시글 작성 버튼 눌렀을 때 기본 선택 카테고리 '생리' #}
          <a href="{% url 'posts:create_post' %}?from_category_slug=saengri">
            <div class="pen">
              <img src="{% static 'posts/img/pen_img.png' %}" class="pen-img" />
            </div>
          </a>
          {% endif %}
        </ul>
      </main>
      <!-- 하단 네비게이션 -->
      <footer class="bottom-nav">
        <a href="{% url 'posts:post_list' %}">
          <img
            src="{% static 'posts/img/QnA.png' %}"
            alt="Q&A"
            id="bottom-icon-qna"
          />
          <span>Q&A</span>
        </a>
        <a href="{% url 'hospital_list' %}">
          <img
            src="{% static '/hospital/images/hospital_unselected.svg' %}"
            alt="병원추천"
            id="bottom-icon-hospital"
          />
          <span>안심병원추천</span>
        </a>
        <a href="{% url 'users:user_home' %}">
          <img
            src="{% static 'posts/img/home_img.png' %}"
            alt="홈"
            id="bottom-icon-home"
          />
          <span>홈</span>
        </a>
        <a href="{% url 'reserve:recommended_doctors'%}">
          <img
            src="{% static '/hospital/images/reserve_unselected.svg' %}"
            alt="상담예약"
            id="bottom-icon-reserve"
          />
          <span>간편상담예약</span>
        </a>
        <a href="{% url 'users:my_page' %}">
          <img
            src="{% static '/hospital/images/profile_unselected.svg' %}"
            alt="마이페이지"
            id="bottom-icon-mypage"
          />
          <span>마이페이지</span>
        </a>
      </footer>
    </div>
    <script type="module" src="{% static '/users/js/home.js' %}"></script>
  </body>
</html>
