{% load static %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/hospital/css/hospital_reserve.css' %}"
    />
    <title>간편 상담 예약</title>
  </head>
  <body>
    <!-- 헤더 -->
    <header>
      <h2>간편 상담 예약</h2>
      <!-- 의사 검색 페이지 연결 -->
      <a href="{% url 'hospital_reserve_search' %}">
        <img
          src="{% static '/hospital/images/search_icon.svg' %}"
          alt="검색 아이콘"
          class="search-button"
        />
      </a>
    </header>
    <!-- 리스트 타이틀 -->
    <section id="list-title"><h2>추천 전문의</h2></section>
    <!-- 의사 리스트 띄우기-->
    <main class="doctor-list" id="doctor-list">
      <!-- js로 병원 리스트 띄우기 -->
    </main>
    <!-- 하단 네비게이션 -->
    <footer class="bottom-nav">
      <a href="">
        <img
          src="{% static '/hospital/images/qna_unselected.svg' %}"
          alt="Q&A"
          id="bottom-icon-qna"
        />
        <span>Q&A</span>
      </a>
      <a href="">
        <img
          src="{% static '/hospital/images/hospital_unselected.svg' %}"
          alt="병원추천"
          id="bottom-icon-hospital"
        />
        <span>안심병원추천</span>
      </a>
      <a href="">
        <img
          src="{% static '/hospital/images/home_unselected.svg' %}"
          alt="홈"
          id="bottom-icon-home"
        />
        <span>홈</span>
      </a>
      <a href="">
        <img
          src="{% static '/hospital/images/reserve_selected.svg' %}"
          alt="상담예약"
          id="bottom-icon-reserve"
        />
        <span>간편상담예약</span>
      </a>
      <a href="#">
        <img
          src="{% static '/hospital/images/profile_unselected.svg' %}"
          alt="마이페이지"
          id="bottom-icon-mypage"
        />
        <span>마이페이지</span>
      </a>
    </footer>

    <script src="{% static '/hospital/js/hospital_reserve.js' %}"></script>
  </body>
</html>
