{% load static %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 템플릿 태그로 변경 -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/hospital/css/hospital_list.css' %}"
    />
    <title>안심 병원 리스트</title>
  </head>
  <body>
    <header>
      <!-- 헤더 -->
      <h2>안심 병원 추천</h2>
      <!-- 지역 선택: 지역 리스트 전달받아 for문으로 드롭다운 구성 -->
    </header>

    <!-- 카테고리 선택 -->
    <nav class="filters">
      <button class="filter-btn">별점순</button>
      <button class="filter-btn">10대 친화</button>
      <button class="filter-btn">여성전문의</button>
    </nav>
      <!-- 병원 리스트 띄우기 -->
      <main class="hospital-list">
        {% for hospital in hospitals %}
        <div class="hospital-card">
          <div class="hospital-image">
            <img src="{% static '/hospital/images/sample_hospital.svg' %}" alt="병원 샘플 이미지" />
          </div>
          <div class="hospital-info">
          <p id = "name">{{ hospital.name }}</p>
          <img src="{% static '/hospital/images/location_icon.svg' %}" alt="위치 아이콘" />
          <p id = "address">{{ hospital.address }}</p>
          </div>
        </div>
        {% empty %}
        <p>병원이 없습니다.</p>
        {% endfor %}
      </main>
      <!-- 리뷰 작성 아이콘 -->
      <a href="">
        <img
          src="{% static '/hospital/images/write_review.svg' %}"
          alt="리뷰 작성"
          class="floating-button"
        />
      </a>
    </main>

    <!-- 하단 네비게이션 -->
    <footer class="bottom-nav">
      <a href="">
        <img
          src="{% static '/hospital/images/qna_unselected.svg' %}"
          alt="Q&A"
          id="bottom-icon-qna"
        />
        <span>Q&A</span>
      </a>
      <a href="">
        <img
          src="{% static '/hospital/images/hospital_selected.svg' %}"
          alt="병원추천"
          id="bottom-icon-hospital"
        />
        <span>안심병원추천</span>
      </a>
      <a href="">
        <img
          src="{% static '/hospital/images/home_unselected.svg' %}"
          alt="홈"
          id="bottom-icon-home"
        />
        <span>홈</span>
      </a>
      <a href="">
        <img
          src="{% static '/hospital/images/reserve_unselected.svg' %}"
          alt="상담예약"
          id="bottom-icon-reserve"
        />
        <span>간편상담예약</span>
      </a>
      <a href="#">
        <img
          src="{% static '/hospital/images/profile_unselected.svg' %}"
          alt="마이페이지"
          id="bottom-icon-mypage"
        />
        <span>마이페이지</span>
      </a>
    </footer>

    <script src="{% static '/hospital/js/hospital_list.js' %}"></script>
  </body>
</html>
