{% load static %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/hospital/css/hospital_reviews.css' %}"
    />
    <title>병원 리뷰 확인</title>
  </head>
  <body>
    <!-- 헤더 -->
    <header>
      <div class="left-section">
        <a href="{% url 'hospital_list' %}">
          <img
            src="{% static '/hospital/images/back_icon.svg' %}"
            alt="이전으로"
            class="back-button"
          />
        </a>
        <h2>{{hospital.name}}</h2>
      </div>
      <!-- 병원 리뷰 검색 페이지 연결 -->
      <a href="{% url 'review_search' hospital.id %}">
        <img
          src="{% static '/hospital/images/search_icon.svg' %}"
          alt="검색 아이콘"
          class="search-button"
        />
      </a>
    </header>
    <!-- 내비 탭 -->
    <nav>
      <div class="tab-container">
        <!-- 정보 페이지 연결 필요 -->
        <div class="info">
          <a href="{% url 'hospital_detail' hospital.id %}">정보</a>
        </div>
        <div class="review">리뷰</div>
      </div>
    </nav>
    <main class="review-list">
      <!-- 해당 병원 리뷰 카드들 띄우기-->
      <!-- for문 순회-->
      <div class="review-card">
        <div id="rating">
          <strong>별점</strong>
          <!-- 별점 이미지-->
        </div>
        <div id="doctor">
          <strong>담당의</strong>
          <p></p>
        </div>
        <div id="disease">
          <strong>진료질환</strong>
          <p></p>
        </div>
        <div id="contents">
          <p></p>
        </div>
        <div id="keyword">
          <p></p>
        </div>
      </div>

      <!-- 리뷰 작성 버튼-->
      <a href="{% url 'review_create' %}">
        <img
          src="{% static '/hospital/images/write_review.svg' %}"
          alt="리뷰 작성"
          class="floating-button"
        />
      </a>
    </main>
    <script src="{% static '/hospital/js/hospital_reviews.js' %}"></script>
  </body>
</html>
