{% load static %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/hospital/css/my_reviews.css' %}"
    />
    <title>내 리뷰</title>
  </head>
  <body>
    <div class="page-container">
      <!-- 최상단 -->
      <header>
        <!-- 페이지 연결 필요 -->
        <div class="head">
          <a href="{% url 'hospital_list' %}">
            <img
              src="{% static '/hospital/images/back_icon.svg' %}"
              alt="이전으로"
              id="back-button"
            />
          </a>
        </div>
        <h2>내 리뷰</h2>
      </header>

      <main class="review-list">
        <!-- 내 리뷰 띄우기 -->
      </main>
      <!-- 알림창 -->
      <div id="alert" class="alert hidden">
        <div class="alert-content">
          <p>
            이 게시물을 삭제합니다. <br /><strong>계속하시겠습니까?</strong>
          </p>
          <div class="alert-buttons">
            <button id="confirm-delete" class="yes-button">예</button>
            <button id="cancel-delete" class="no-button">아니오</button>
          </div>
        </div>
      </div>
    </div>
    <script
      type="module"
      src="{% static '/hospital/js/my_reviews.js' %}"
    ></script>
  </body>
</html>
