{% load static %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/hospital/css/review_search.css' %}"
    />
    <title>리뷰 검색</title>
  </head>
  <body>
    <div class="page-container">
      <!-- 검색창: 사용자 입력 병원을 get방식으로 전송 -->
      <header>
        <div class="search-container">
          <div class="head">
          <!-- 이전으로 버튼 누르면 병원 리뷰 페이지로-->
          <a href="{% url 'hospital_reviews' hospital.id %}">
            <img
              src="{% static '/hospital/images/back_icon.svg' %}"
              alt="이전으로"
              class="back-button"
            />
          </a>
          <!-- action 연결 필요 -->
          <form method="get" action="{% url 'review_search' hospital.id %}">
            <!-- 검색할 리뷰 키워드 입력 받기
         get방식으로 보낼 파라미터명: q-->
            <!-- placeholder에 병원명 추가 -->
            <input
              type="text"
              name="q"
              class="search-box"
              placeholder="{{ hospital.name }} 내 리뷰를 검색하세요"
              value="{{ request.GET.q }}"
            />
            <!-- 검색 버튼 누르면 폼 제출 (get 요청 전송)
          하단에 해당 병원목록 보이게-->
          </div>  
          <button type="submit" class="search-button">
              <img
                src="{% static '/hospital/images/search_icon.svg' %}"
                alt="검색 버튼"
              />
            </button>
          </form>
        </div>
      </header>
      <!-- 리뷰 검색 결과: hidden이었다가 검색버튼 누르면 결과 나오게 -->
      <main class="review-list">
        <!-- 리뷰 검색 결과 일치하면 뜨는 리뷰 카드-->
      </main>
    </div>
    <script
      type="module"
      src="{% static '/hospital/js/review_search.js' %}"
    ></script>
  </body>
</html>
