<!-- {% load static %} -->

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 탬플릿 태그로 -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../../static/hospital/css/review_create.css"
    />
    <title>리뷰 작성</title>
  </head>
  <body>
    <!-- 최상단 -->
    <header>
      <a href=" ">
        <!-- 탬플릿 태그로 -->
        <img
          src="../../static/hospital/images/back_icon.svg"
          alt="이전으로"
          id="back-button"
        />
      </a>
      <h2>리뷰 작성</h2>
    </header>
    <main>
      <!-- 병원 이름 + 별점 띄우기 -->
      <div class="rating">
        <h3><strong> 00병원 </strong></h3>
        <!-- 빈 별 5개 생성. 클릭 시, js로 채워진 별로 바꿔주기 -->
        <div class="stars">
          <p>별점</p>
          <!-- 탬플릿 태그로 -->
          <img
            src="../../static/hospital/images/star_blank.svg"
            alt="별점"
            class="star"
          />
          <!--각 별에 1~5의 번호 부여-->
        </div>
      </div>
      <div class="review-form">
        <!-- 리뷰 폼 -->
        <div class="form">
          <form method="post">
            <!-- {% csrf_token %} -->
            <!-- 담당의 -->
            <section class="review">
              <span>담당의</span>
              <input
                id="doctor"
                type="text"
                placeholder="담당의를 입력해주세요"
              />
            </section>
            <!-- 진료질환 -->
            <section class="review">
              <span>진료질환</span>
              <input
                id="disease"
                type="text"
                placeholder="진료질환을 입력해주세요"
              />
            </section>
            <!-- 키워드 -->
            <section class="review">
              <span>키워드</span>
              <!-- 드롭다운 구현 -->
            </section>
            <!-- 상세리뷰 -->
            <section class="review">
              <div id="review-detail">
                <span>상세 리뷰 <span id="required-text">*</span></span>
                <input
                  id="details"
                  type="text"
                  placeholder="상세 리뷰를 입력해주세요 (최소 8자 이상)"
                />
              </div>
            </section>
          </form>
        </div>
        <button type="submit" id="submit-button">제출하기</button>
      </div>
    </main>
    <script src="../../static/hospital/js/signup.js"></script>
  </body>
</html>
